site/assets/video/IMG_0928.MOV filter=lfs diff=lfs merge=lfs -text
docs/assets/video/IMG_0928.MOV filter=lfs diff=lfs merge=lfs -text
docs/assets/video/IMG_0927.MOV filter=lfs diff=lfs merge=lfs -text
site/assets/video/IMG_0927.MOV filter=lfs diff=lfs merge=lfs -text
docs/assets/video/IMG_6864.mp4 filter=lfs diff=lfs merge=lfs -text
docs/assets/video/IMG_6865.mp4 filter=lfs diff=lfs merge=lfs -text
docs/assets/video/IMG_6868.mp4 filter=lfs diff=lfs merge=lfs -text
docs/assets/video/IMG_4108.mp4 filter=lfs diff=lfs merge=lfs -text
docs/assets/video/IMG_5086.mp4 filter=lfs diff=lfs merge=lfs -text
site/assets/video/IMG_5086.mp4 filter=lfs diff=lfs merge=lfs -text
site/assets/video/IMG_6864.mp4 filter=lfs diff=lfs merge=lfs -text
site/assets/video/IMG_6865.mp4 filter=lfs diff=lfs merge=lfs -text
site/assets/video/IMG_6868.mp4 filter=lfs diff=lfs merge=lfs -text
site/assets/video/IMG_4108.mp4 filter=lfs diff=lfs merge=lfs -text
