IMG_5086.mp4 filter=lfs diff=lfs merge=lfs -text
IMG_6864.mp4 filter=lfs diff=lfs merge=lfs -text
IMG_6865.mp4 filter=lfs diff=lfs merge=lfs -text
IMG_6868.mp4 filter=lfs diff=lfs merge=lfs -text
IMG_4108.mp4 filter=lfs diff=lfs merge=lfs -text
